.main {
  color: #26de0e;
  font-family: "Courier New", Courier, monospace;
}
.photo {
  border-radius: 180px;
}
.downloadCVButton {
  margin-top: 40px;
  padding: 5px 50px;
  color: white;
  background-color: black;
  box-shadow: inset;
  border-radius: 100px;
}
